In [2]:
import pandas as pd

In [16]:
PATH = "results/"

# Kaggle Competition

## Pipeline1: Pretraining

In [39]:
# This is for 1 fold, out of 5
# This will be used to find OUR carbon footprint
pretrain_1_file = PATH+"siim_pretrain_results_1epoch.csv"
ptrain_1 = pd.read_csv(pretrain_1_file)

ptrain_1.head()

      training_file      time  energy(kWh)    CO2eq(g)  distance(km)
0  cait_pretraining   8:00:33     2.800010  299.601022      2.786986
1    f1_pretraining  11:55:04     4.303103  218.651446      2.033967
2    f3_pretraining  22:14:23     8.025735  229.189462      2.131995
3    l1_pretraining       NaN          NaN         NaN           NaN
4   l1b_pretraining       NaN          NaN         NaN           NaN

In [40]:
# This is for all 5 folds, the estimated cost of running the full code
pretrain_full_file = PATH+"siim_pretrain_results_full.csv"
ptrain_full = pd.read_csv(pretrain_full_file)

ptrain_full.head()

      training_file       time  energy(kWh)     CO2eq(g)  distance(km)
0  cait_pretraining   40:02:47    14.000048  1126.210028     10.476372
1    f1_pretraining   59:35:21    21.515517  1024.948272      9.534403
2    f3_pretraining  111:11:54    40.128676  1194.298670     11.109755
3    l1_pretraining        NaN          NaN          NaN           NaN
4   l1b_pretraining        NaN          NaN          NaN           NaN

## Pipeline1: Training

In [42]:
# This is for 1 fold, out of 5
# This will be used to find OUR carbon footprint
train_1_file = PATH+"siim_train_results_1epoch.csv"
train_1 = pd.read_csv(train_1_file)

train_1.head()

  training_file     time  energy(kWh)   CO2eq(g)  distance(km)
0        n_cf11  1:38:42     0.194869   9.520723      0.088565
1      n_cf11_1  7:33:10     0.578794  25.746986      0.239507
2      n_cf11_9  1:24:16     0.189512  10.865354      0.101073
3     n_cf11_10  1:50:25     0.231844   8.607216      0.080067
4   n_cf11_rot1      NaN          NaN        NaN           NaN

In [43]:
# This is for all 5 folds, the estimated cost of running the full code
train_full_file = PATH+"siim_train_results_full.csv"
train_full = pd.read_csv(train_full_file)

train_full.head()

  training_file      time  energy(kWh)    CO2eq(g)  distance(km)
0        n_cf11   8:13:32     0.974343   42.493534      0.395289
1      n_cf11_1  37:45:51     2.893969  168.435306      1.566840
2      n_cf11_9   7:01:21     0.947560   50.139455      0.466414
3     n_cf11_10   9:12:03     1.159221   34.338704      0.319430
4   n_cf11_rot1       NaN          NaN         NaN           NaN

# RevisitingTransfer

## Base: ImageNet Freeze=False

In [44]:
# These results are for the number of epochs in the column "epochs"
# The column "class_epochs" is the number of epochs during training the classification layer
# we need to figure out the cost per single epoch
# then compute the estimated cost for all of the training (including training of the classification layer)
rt_frz_false_file = PATH+"rt_imagenet_frzfalse_results.csv"
rt_frz_false = pd.read_csv(rt_frz_false_file)

rt_frz_false.head()

,dataset,time,energy(kWh),CO2eq(g),distance(km),epochs,class_epochs
0,isic,1:37:40,0.338987,32.058499,0.298219,4,11
1,breast,0:31:18,0.119732,4.190629,0.038983,4,8
2,chest,1:15:20,0.260203,9.107116,0.084717,4,12
3,knee,0:49:39,0.201474,7.353786,0.068407,4,6
4,thyroid,0:14:25,0.009719,0.874699,0.008137,4,4

## Base: ImageNet Freeze=True

In [46]:
# These results are for the number of epochs in the column "epochs"
# The column "class_epochs" is the number of epochs during training the classification layer
# we need to figure out the cost per single epoch
# then compute the estimated cost for all of the training (including training of the classification layer)
rt_frz_true_file = PATH+"rt_imagenet_frztrue_results.csv"
rt_frz_true = pd.read_csv(rt_frz_true_file)

rt_frz_true.head()

   dataset     time  energy(kWh)  CO2eq(g)  distance(km)  epochs  class_epochs
0     isic  1:34:43     0.063648  2.764155      0.025713       4             7
1   breast  0:22:41     0.014810  1.443971      0.013432       4            10
2    chest  0:51:27     0.033632  3.497739      0.032537       4            11
3     knee  0:35:19     0.023113  2.126414      0.019781       4             5
4  thyroid  0:21:09     0.014226  0.633041      0.005889       4             6