 @misc{megan risdal_timo bozsolik_2022,
	title={Meta Kaggle},
	url={https://www.kaggle.com/ds/9},
	DOI={10.34740/KAGGLE/DS/9},
	publisher={Kaggle},
	author={Megan Risdal and Timo Bozsolik},
	year={2022}
}

 @misc{megan risdal_timo bozsolik_2022,
	title={Meta Kaggle},
	url={https://www.kaggle.com/ds/9},
	DOI={10.34740/KAGGLE/DS/9},
	publisher={Kaggle},
	author={Megan Risdal and Timo Bozsolik},
	year={2022}
}

In [1]:
import pandas as pd
import numpy as np

In [19]:
df_sub = pd.read_csv('meta_data/Submissions.csv')
df_comp = pd.read_csv('meta_data/KernelVersionCompetitionSources.csv')
df_tags = pd.read_csv('meta_data/DatasetTags.csv')
df_compTags = pd.read_csv('meta_data/CompetitionTags.csv')

In [20]:
df_sub['SubmissionDate'] = pd.to_datetime(df_sub['SubmissionDate'], format="%m/%d/%Y")
df_sub['ScoreDate'] = pd.to_datetime(df_sub['ScoreDate'], format="%m/%d/%Y")

In [21]:
df_sub.shape, df_comp.shape

((12130309, 11), (2026775, 3))

In [22]:
df_sub.dtypes

Id                                         int64
SubmittedUserId                          float64
TeamId                                     int64
SourceKernelVersionId                    float64
SubmissionDate                    datetime64[ns]
ScoreDate                         datetime64[ns]
IsAfterDeadline                             bool
PublicScoreLeaderboardDisplay            float64
PublicScoreFullPrecision                 float64
PrivateScoreLeaderboardDisplay           float64
PrivateScoreFullPrecision                float64
dtype: object

In [23]:
df_comp.dtypes

Id                     int64
KernelVersionId        int64
SourceCompetitionId    int64
dtype: object

In [24]:
df_sub.tail(5)

,Id,SubmittedUserId,TeamId,SourceKernelVersionId,SubmissionDate,ScoreDate,IsAfterDeadline,PublicScoreLeaderboardDisplay,PublicScoreFullPrecision,PrivateScoreLeaderboardDisplay,PrivateScoreFullPrecision
12130304,31040725,12313363.0,9450981,NaN,2023-04-07,2023-04-07,True,0.77450,0.774500,0.77675,0.776750
12130305,31038299,12313363.0,9450981,NaN,2023-04-07,2023-04-07,True,0.59375,0.593750,0.60000,0.600000
12130306,31100340,5072025.0,8168616,NaN,2023-04-11,2023-04-11,True,0.02407,0.024079,0.02417,0.024173
12130307,31155262,5072025.0,8168616,NaN,2023-04-14,2023-04-14,True,0.02365,0.023653,0.02375,0.023759
12130308,31212650,5072025.0,8168616,NaN,2023-04-17,2023-04-17,True,0.02399,0.023990,0.02422,0.024223

In [25]:
df_comp.tail(5)

               Id  KernelVersionId  SourceCompetitionId
2026770  58122311        125824228                13451
2026771  58124079        125829669                13451
2026772  58124175        125829991                13451
2026773  58144562        125891493                13451
2026774  58210241        126091849                47789

In [26]:
df_sub.isna().sum()

Id                                      0
SubmittedUserId                      1346
TeamId                                  0
SourceKernelVersionId             8796838
SubmissionDate                          0
ScoreDate                          530450
IsAfterDeadline                         0
PublicScoreLeaderboardDisplay      286557
PublicScoreFullPrecision           286557
PrivateScoreLeaderboardDisplay     286557
PrivateScoreFullPrecision          286557
dtype: int64

In [27]:
df_comp.isna().sum()

Id                     0
KernelVersionId        0
SourceCompetitionId    0
dtype: int64

In [28]:
comp_entries = df_sub[df_sub.IsAfterDeadline==False].reset_index(drop=True)

In [29]:
#c = 0
#for i in range(comp_entries.shape[0]):
#    if comp_entries.loc[i, 'SourceKernelVersionId'] in df_comp.KernelVersionId:
#        c+=1

c = 108022

In [30]:
print(comp_entries.shape)
comp_entries.dropna(subset=['SourceKernelVersionId'], inplace = True)
print(comp_entries.shape)

(9064514, 11)
(3018585, 11)

In [31]:
j_df = pd.merge(comp_entries, df_comp, left_on="SourceKernelVersionId", right_on="KernelVersionId", how="left", validate="m:m")

print(j_df.shape)
j_df.head(1)

(3018585, 14)

,Id_x,SubmittedUserId,TeamId,SourceKernelVersionId,SubmissionDate,ScoreDate,IsAfterDeadline,PublicScoreLeaderboardDisplay,PublicScoreFullPrecision,PrivateScoreLeaderboardDisplay,PrivateScoreFullPrecision,Id_y,KernelVersionId,SourceCompetitionId
0,1754236,5309.0,193631,19760.0,2015-07-07,2015-07-07,False,0.51302,0.513025,0.51573,0.515735,1762427.0,19760.0,4467.0

In [32]:
j_df.groupby(by='SourceCompetitionId').count()

,Id_x,SubmittedUserId,TeamId,SourceKernelVersionId,SubmissionDate,ScoreDate,IsAfterDeadline,PublicScoreLeaderboardDisplay,PublicScoreFullPrecision,PrivateScoreLeaderboardDisplay,PrivateScoreFullPrecision,Id_y,KernelVersionId
SourceCompetitionId,,,,,,,,,,,,,
3948.0,13,13,13,13,13,13,13,13,13,13,13,13,13
3949.0,8,8,8,8,8,8,8,8,8,8,8,8,8
4366.0,984,984,984,984,984,984,984,984,984,984,984,984,984
4378.0,66,66,66,66,66,66,66,66,66,66,66,66,66
4383.0,171,171,171,171,171,171,171,171,171,171,171,171,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45893.0,571,571,571,571,571,571,571,571,571,571,571,571,571
45894.0,876,876,876,876,876,876,876,876,876,876,876,876,876
46801.0,21,21,21,21,21,21,21,21,21,21,21,21,21
47789.0,636,636,636,636,636,636,636,636,636,636,636,636,636
47790.0,637,637,637,637,637,637,637,637,637,637,637,637,637

In [34]:
df_tags

             Id  DatasetId  TagId
0         96553          6  11200
1           139          6  11204
2         96554          6  12107
3           122          7  11208
4           123          7  12116
...         ...        ...    ...
217744  1749255    3141245   3022
217745  1749256    3141245   3200
217746  1749254    3141245   7202
217747  1749257    3141245  13206
217748  1749253    3141245  14104

[217749 rows x 3 columns]

In [35]:
df_compTags

        Id  CompetitionId  TagId
0      126           3486  14102
1      336           3526  12116
2      335           3526  14101
3      334           3526  14104
4      362           3706   2606
..     ...            ...    ...
788  11046          47789  13102
789  11047          47789  14101
790  11048          47790  13102
791  11049          47790  14101
792  12140          47790  14203

[793 rows x 3 columns]

In [37]:
tags = pd.read_csv('meta_data/Tags.csv')
tags

,Id,ParentTagId,Name,Slug,FullPath,Description,DatasetCount,CompetitionCount,KernelCount
0,1115,12116.0,websites,web-sites,subject > science and technology > internet > ...,"Websites, like this one, are collections of co...",286,0,226
1,1219,12000.0,research,research,subject > science and technology > research,Research is our endeavor to systematically inc...,525,7,285
2,1220,12116.0,search engines,search-engines,subject > science and technology > internet > ...,NaN,80,0,77
3,1222,11105.0,universities and colleges,universities-and-colleges,subject > people and society > education > uni...,This tag contains all kinds of information abo...,4657,0,415
4,2100,16637.0,culture and humanities,culture-and-humanities,subject > culture and humanities,What is it to be human? What activities and pa...,253,0,71
...,...,...,...,...,...,...,...,...,...
783,17141,16679.0,wide residual block,wide-residual-block,architecture > wide-residual-block,NaN,0,0,0
784,17142,16673.0,image-to-text,image-to-text,task > image-to-text,NaN,11,1,6
785,17143,16673.0,segmentation,segmentation,task > segmentation,NaN,2,0,1
786,17144,16673.0,distance,distance,task > distance,NaN,0,0,0
787,17145,16673.0,retrieval/ranking,retrieval-ranking,task > retrieval/ranking,NaN,0,0,0

In [50]:
tags[tags.Name=='image']

,Id,ParentTagId,Name,Slug,FullPath,Description,DatasetCount,CompetitionCount,KernelCount
180,14102,14100.0,image,image-data,data type > image,NaN,5225,189,4926

In [49]:
df_compTags[df_compTags.TagId == 14102]

      Id  CompetitionId  TagId
0    126           3486  14102
13   128           3947  14102
24   320           3978  14102
33   270           4104  14102
55   251           4406  14102
..   ...            ...    ...
700  959          34970  14102
701  954          35150  14102
721  994          36363  14102
723  992          36414  14102
734  984          37333  14102

[108 rows x 3 columns]